<footer class="m-4 my-8 bg-white rounded-lg shadow dark:bg-gray-800">
    <div
        class="flex flex-row justify-start w-full max-w-screen-xl p-4 mx-auto md:flex md:items-center md:justify-center"
    >
        <span
            class="text-sm text-gray-500 font-vazir sm:text-center dark:text-gray-400"
        >
            <p>
                ساخته شده با عشق❤️ توسط
                <a
                    class="font-extrabold text-orange-600 copyright dark:text-orange-400"
                    href="/"
                    target="_blank">امیرحسین کیان فرد</a
                >
            </p>
        </span>
    </div>
</footer>
