<button
    id="to-top-button"
    onclick="goToTop()"
    class="fixed z-50 hidden p-4 text-lg font-semibold text-white transition-colors duration-300 bg-orange-500 border-0 rounded-full shadow-md bottom-8 left-4 w-14 h-14 hover:bg-orange-600 dark:bg-orange-500 dark:hover:bg-orange-400"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
    >
        <path d="M12 4l8 8h-6v8h-4v-8H4l8-8z"></path>
    </svg>
    <span class="sr-only">Go to top</span>
</button>
