---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const lastpost = allPosts
    .filter((el) => el.data.tags?.includes("بلاگ"))
    .sort(function (a, b) {
        return (
            new Date(Date.parse(b.data.pubDate)).getTime() -
            new Date(Date.parse(a.data.pubDate)).getTime()
        );
    })
    .slice(0, 5);
---

<div class="flex flex-col w-full gap-8 basis-3/4">
    {
        lastpost.map((post) => (
            <a
                href={`/posts/${post.slug}/`}
                class="flex flex-col items-center max-w-full bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
            >
                <img
                    class="rounded-t-lg md:h-auto md:w-[17rem] md:rounded-none md:rounded-s-lg"
                    src={post.data.image.url}
                    loading="lazy"
                />
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {post.data.title}
                    </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        {post.data.description}
                    </p>
                </div>
            </a>
        ))
    }
</div>
