---
import "../styles/output.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import GoTopBtn from "../components/GoTopBtn.astro";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
    </head>

    <body class="bg-gray-100 font-iransans dark:bg-darkenblue">
        <Navigation />
        <!--Hero-->

        <slot />

        <!--footer-->
        <Footer />
        <!--go top btn-->
        <GoTopBtn />

        <script>
            import "https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js";
            import "../scripts/app.js";
        </script>
    </body>
</html>
